/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg: 220 15% 96%;
  --content: 224 40% 10%;
  --muted-foreground: 220 25% 22%;
  --border: 220 15% 82%;
  --muted: 220 15% 91%;
  --success: 160 84% 30%;
  --danger: 0 84% 50%;
}

.dark {
  --bkg: 240 10% 3.9%;
  --content: 0 0% 98%;
  --muted-foreground: 240 5% 64.9%;
  --border: 240 3.7% 15.9%;
  --muted: 240 3.7% 11.9%;
  --success: 160 55% 55%;
  --danger: 0 74.2% 70.2%;
}
